header {
	background-color: #BBBBBB;
}

/*por default las listas tiene como atributo display en block,inline permite que la lista se liste de forma horizontal*/
nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22 px;
	text-decoration: none;
}